// Esquema de colores

// Primer esquema de color
$white: #FFF;
$dark-gray:#1E1E1E;
$gray: #2D2B2C;

// Segundo esquema de color
$purple:#5A25B7;
$yellow: #FCD61F;

// Tipografía
$primary-font: 'TTNorms';
$font-bolder:900;
$font-bold:700;
$font-medium:500;
$font-regular:400;
$font-light:300;
$font-lighter:200;

// Tamaños de tipografías
$xxxx-large:80px;
$xxx-large:60px;
$xx-large:56px;
$x-large:40px;
$large:36px;
$medium:24px;
$small:18px;
$x-small:13px;
