body, h2, h3, h4, h5, ul, li , p{
	margin: 0;
	padding: 0;
	font-family: $primary-font;
	font-weight: $font-regular;
}

img{
	max-width: 100%;
}

h2{
	font-weight: $font-bolder;
	font-size: $x-small;
	text-transform: uppercase;
	color: $white;
	font-style: italic;
}

h3{
	font-weight: $font-bolder;
	font-size: $x-large;
	text-transform: uppercase;
	color: $white;
	font-style: italic;
	margin-bottom: 2rem;
}

h4{
	font-weight: $font-bolder;
	font-size: $x-large;
	text-transform: uppercase;
	color: $yellow;
	font-style: italic;
	line-height: .8em;
}

h5{
	font-weight: $font-bolder;
	font-size: $medium;
	text-transform: uppercase;
	color: $white;
	font-style: italic;
}